body{
    background-color: bisque;
    
}

div{
    font-size: 15px;
    text-align: center;
}

img-reload:hover {
    -webkit-transform:rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}